* {
  font-family: Lato;
  overflow-x: hidden;
}
/* .logo{
    background-image: url("/images/logo.png");
}
#slide1{
    background-image: url("./images/banner1.png");
    background-size: cover;
    height: 100vh;
}
#slide2{
    background-image: url("./images/banner2.png");
    background-size: cover;
    height: 100vh;
}
#slide3{
    background-image: url("./images/banner3.png");
    background-size: cover;
    height: 100vh;
}
#slide4{
    background-image: url("./images/banner4.png");
    background-size: cover;
    height: 100vh;
}*/

.meet-container {
  background-image: url("./images/team.png");
  background-size: cover;
  height: 100vh;
  border-radius: 5px;
}
